body {
    zoom:140%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background */
    color: #000; /* Black text */
  }
  
  header {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  #hero {
    background-color: #000; /* Black background */
    text-align: center;
    padding: 50px 0;
  }
  
  #about,
  #portfolio,
  #contact {
    text-align: center;
    padding: 50px 0;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-color: #333; /* Darker gray on hover */
  }
  
  .portfolio-item {
    margin-bottom: 20px;
  }
  
  .portfolio-item img {
    max-width: 100%;
  }
  
  form {
    margin-top: 20px;
  }
  
  label,
  input,
  textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333; /* Darker gray on hover */
  }
  